<!DOCTYPE html>
<html>
<head>
  <%- include ("../partials/header.ejs") %>
</head>

<body>

<div class="container">
<h2>Database Results</h2>

<ul>
    <% results.forEach(function(r) { %>
        <li><%= r.chart1 %> "\t" <%= r.greater1 %> "\t" <%= r.percent1 %></li>
    <% }); %>
</ul>


</div>

<%- include ("../partials/footer.ejs") %>
</body>
</html>
